<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baseball Analytics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1>Baseball Query Engine</h1>
<form method="post">
    <input class="form-control form-control-sm" type="text" name= 'question' id= "query" placeholder="  Please Enter the Question You Want to Ask">
    <button type="submit" class="btn btn-primary" id="submit_button" onclick="test()">Submit</button>
    <script>
        function test(){
            window.alert("The query is running. Please wait for 3 minutes");
        }
    </script>
</form>
</body>
</html>